<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div id="wrapper">
    <header>
      <% include ../partials/header %>
    </header>
    <p><%= park.name %></p>
    <p><%= park.address.streetAddress %></p>
    <p><%= park.address.city %></p>
    <p><%= park.address.state %></p>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div>
  <% include ../partials/scripts %>
</body>

</html>
